html{
    background-color: #a1dbdb;
    font-family: sans-serif;
}
label{
    font-weight: bold;
}
ul, li{
    display: block;
}
.estudios li{
    display: inline-block;
    padding-left:3px;
    padding-right:3px;
    gap: 20px;
}
body,
section,
header, 
div {
    align-items: center;
    background-color: var(--gris-medio);
    display: flex;
    flex-direction: column;
    width: 100%;
}

* {
    scroll-behavior: smooth;
}

.header-img {
    align-items: flex-end;
    border-radius: 60%;
    border: 1px solid var(--gris-oscuro);
    box-shadow: 8px 16px 28px 0px var(--shadow);
    height: 300px;
    width: 300px;
}
.experiencia{
    text-align: center;
}
.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

}
.contenedor ul{
   background-color: #c2e9e9;
    display: flexbox;
    width: auto;
    margin-left: 45px;
    margin-right: 10px;
}