body {

    margin-top: 20px;
    padding: 0;
    font-family:  sans-serif;
    text-align: center;
  }
  
  
  /* Input Forms*/
  
   input[type="password"]
   , input[type="tel"]
   , input[type="date"]
   , input[type="email"]
   , input[type="text"]{
     display: block;
     outline: none;
     padding: 20px;
     width: 300px;
     border-radius: 3px;
     border: 1px solid #eee;
     margin: 20px auto;
   }
  input[type="submit"] {
    display: block;
    padding: 15px;
    color: #fff;
    background: #0098cb;
    width: 340px;
    margin: 20px auto;
    /* margin-top: 0; */
    border: 0;
    border-radius: 3px;
    cursor: pointer;
  }
 
  
  .div {
   margin: auto;
    width: 400px;
    max-height: 800px;
    border: 2px solid #000000;
    border-width: thin;
  }
 